.table {
  width: 90%;
  min-width: 90%;
}

h2 {
  margin: 20px 10px;
  display: inline-block;
}

.status-dropdown {
  float: right;
  margin-right: 10%;
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.add-button {
  margin-left: 20px;
}

.remove {
  margin-left: 10px;
}
